.main-chat
  .header
    .left-box
      .left-box__current-group
        現在グループ名
      %ul.left-box__member-list
        Member : 
        %li.member
          メンバー名
        %li.member
          メンバー名
        %li.member
          メンバー名
    .right-box
      .right-box__edit-btn
        = link_to '#' do
          Edit
  .message-list
    .message
      .upper-info
        .upper-info__talker
          メンバー
        .upper-info__date
          2020/5/02
      .lower-info
        .lower-info__content
          メッセージ
    .message
      .upper-info
        .upper-info__talker
          メンバー
        .upper-info__date
          2020/5/02
      .lower-info
        .lower-info__content
          メッセージ
    .message
      .upper-info
        .upper-info__talker
          メンバー
        .upper-info__date
          2020/5/02
      .lower-info
        .lower-info__content
          メッセージ
  .message-form
    .form
      %input.form__text
      .form__image
        %label.form__image__picture
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
    %input.form__submit-btn{type: 'submit', value: 'Send'}