.main-chat {
  width: calc(100% - 300px);
  background-color: #ffffff;
  height: 100vh;
  .header {
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    .left-box {
      float: left;
      &__current-group {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      }
      &__member-list {
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        display: flex;
        .member {
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
    .right-box {
      float: right;
      height: 40px;
      margin-top: 28px;
      line-height: 40px;
      padding: 0 20px;
      border: 1px solid;
      color: #38aef0;
      font-size: 16px;
      a {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    box-sizing: border-box;
    overflow: scroll;
    .message {
      padding-bottom: 46px;
      .upper-info {
        display: flex;
        &__talker {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .lower-info {
        margin-top: 12px;
        &__content {
          font-size: 14px;
          color: #434A54;
        }
      }
    }
  }
  .message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 0 40px;
      .new_message {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
        .form__text {
          height: 50px;
          width: 100%;
          margin-top: 20px;
          padding-left: 10px;
          padding-right: 40px;
          border: none;
        }
        .form__image {
          position: absolute;
          right: 113px;
          top: 33px;
            .icon {
              font-size: 25px;
            }
            .hidden {
              display: none;
            }
        }
        .form__submit-btn {
            margin-left: 15px;
            margin-top: 20px;
            width: 100px;
            background-color: #38aef0;
            color: white;
            height: 50px;
          }
     }
    }